header
{
    width: 100%;
    height: 100%;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center center;
}
.navbar
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
}
.imgFood
{
    height: 300px ;
}
